.suggestionContainer {
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
}

.suggestion {
    cursor: pointer;
    padding: 0.5rem
}

.selected {
    background-color: #ddd;
    color: #000;
}