/* Define the theme */
:root {
  --font-size: 16px;
  --font-family: 'Lora', sans-serif;
  --font-1: 700 2.5rem var(--font-family);
  --font-2: 400 2rem var(--font-family);
  --font-3-bold: 700 1.5rem var(--font-family);
  --font-3: 200 1.5rem var(--font-family);
  --background-color: aliceblue;
  --background-color-secondary: #fff;
  --background-color-dark: #303030;
  --color-primary: #0277BD;
  --color-secondary: #29B6F6;
  --color-tertiary: #B2EBF2;
  --text-color: #000;
  --secondary-text-color: #0D47A1;
  --text-contrast-color: #fff;
  --secondary-text-contrast-color: #90CAF9;
  --category-select-text-color: : #fafafa;
}

@media screen and (max-width: 768px) and (min-width: 672px) {
  :root {
    --font-size: 12px;
  }
}

@media screen and (max-width: 671px) {
  :root {
    --font-size: 8px;
  }
}


html {
  font-size: var(--font-size);
}

[data-theme="dark"] {
  --background-color: #303030;
  --background-color-secondary: #424242;
  --background-color-dark: aliceblue;
  --color-primary: #01579B;
  --color-secondary: #0288D1;
  --color-tertiary: #80DEEA;
  --text-contrast-color: #000;
  --secondary-text-contrast-color: #0D47A1;
  --text-color: #fff;
  --secondary-text-color: #90CAF9;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: var(--background-color);
  padding-bottom: 400px;
}

.welcome {
  font: var(--font-2);
  color: var(--text-color);
  margin: 2rem;
}

.mental-health-blurb {
  font: var(--font-3);
  color: var(--text-color);
  margin: 2rem;
}

.mental-health-blurb b {
  font: var(--font-3-bold);
  color: var(--text-color);
}

.mentalHealthMatters {
  font: var(--font-1);
  color: var(--text-color);
  margin: 2rem;
}